<div id="gitalk-container" >
  Please enable JavaScript to view the Gitalk. :D
</div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.18.0/js/md5.min.js"></script>
<script>
  (function(){
    const gitalk = new Gitalk({
      'clientID': '<%=config.gitalk.clientID %>',
      'clientSecret': '<%=config.gitalk.clientSecret %>',
      'repo': '<%=config.gitalk.repo %>',
      'owner': '<%=config.gitalk.owner %>',
      'admin': ['<%=config.gitalk.admin %>'],
      'id': md5(location.pathname),      // Ensure uniqueness and length less than 50( use md5)
      'distractionFreeMode': false  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
  })();
</script>
